yammi/*.ui~
yammi/.obj
yammi/.moc
yammi/.ui
yammi/Makefile
yammi/yammi
yammi/*.pro.user
yammi/translations/yammi_*.qm
yammi-build*
.qmake.stash

#android
build-yammi*

#MacOS
.DS_Store
yammi/yammi.app/
