[Desktop Entry]
Type=Application
Name=Yammi
Exec=yammi -caption "%c" %i %m %u
Comment=Yet Another Music Manager I...
Icon=yammi
MimeTypes=
Terminal=true
