<!DOCTYPE kpartgui>
<kpartgui name="yammi">
<MenuBar>
  <Menu name="player"><text>Player</text>
    <Action name="play_pause"/>
    <Action name="skip_backward"/>
    <Action name="skip_forward"/>
    <Action name="stop"/>
  </Menu>
  <Menu name="playlist"><text>Playlist</text>
    <Action name="toggle_playlist"/>
    <Action name="clear_playlist"/>
    <Action name="shuffle_playlist"/>
  </Menu>
  <Menu name="edit">
    <Action name="invert_selection"/>
  </Menu>
  <Menu name="database"><text>Database</text>
    <Action name="save_db"/>
    <Action name="scan_hd"/>
    <Action name="scan_media"/>
    <Action name="import_file"/>
    <Action name="check_consistency_all"/>
    <Action name="grab"/>
  </Menu>
  <Menu name="autoplay"><text>Autoplay</text>
    <Action name="autoplay_off"/>
    <Action name="autoplay_longest"/>
    <Action name="autoplay_random"/>
    <Separator/>
    <Action name="autoplay_folder"/>
  </Menu>
  <Menu name="view"><text>View</text>
    <Action name="update_view"/>
    <Menu name="toolbars"><text>Toolbars</text>
      <Action name="MainToolbar"/>
      <Action name="MediaPlayerToolbar"/>
      <Action name="SongActionsToolbar"/>
      <Action name="RemovableMediaToolbar" />
      <Action name="SleepModeToolbar"/>
      <Action name="PrelistenToolbar"/>
    </Menu>
  </Menu>
</MenuBar>

<ToolBar name="MediaPlayerToolbar">
 <text>Media Player</text>
 <Action name="play_pause"/>
 <Action name="skip_backward"/>
 <Action name="skip_forward"/>
 <Action name="stop"/>
 <Action name="seek"/>
</ToolBar>
<ToolBar name="MainToolbar">
 <text>Main ToolBar</text>
 <Action name="search"/>
</ToolBar>
<ToolBar name="PrelistenToolbar">
 <text>Prelisten</text>
 <Action name="prelisten_start"/>
 <Action name="prelisten_middle"/>
 <Action name="prelisten_end"/>
 <Action name="stop_prelisten"/>
</ToolBar>
<ToolBar name="SleepModeToolbar">
 <text>Sleep</text>
 <Action name="sleep_mode"/>
</ToolBar>
<ToolBar name="SongActionsToolbar">
 <text>Song Actions</text>
   <Action name="append_selected"/>
   <Action name="prepend_selected"/>
   <Action name="play_selected"/>
   <Action name="toggle_playlist"/>
   <Action name="dequeue_selected"/>
<!--   <Action name="clear_playlist"/> -->
   <Action name="info_selected"/>
</ToolBar>
<ToolBar name="RemovableMediaToolbar">
 <text>Removable Media</text>
 <Action name="load_media"/>
</ToolBar>

<Menu name="song_popup">
  <Menu name="play_enqueue"><text>Play/Enqueue</text>
    <Action name="append_selected"/>
    <Action name="prepend_selected"/>
    <Action name="play_selected"/>
    <Action name="dequeue_selected"/>
  </Menu>
  <Menu name="prelisten"><text>Prelisten</text>
    <Action name="prelisten_start"/>
    <Action name="prelisten_middle"/>
    <Action name="prelisten_end"/>
  </Menu>
  <Action name="info_selected"/>
  <Menu name="goto"><text>Go to folder...</text>
    <Action name="goto_artist_folder"/>
    <Action name="goto_album_folder"/>
    <Action name="goto_genre_folder"/>
  </Menu>
  <Menu name="search_similar"><text>Search for similar...</text>
    <Action name="search_similar_entry"/>
    <Action name="search_similar_artist"/>
    <Action name="search_similar_title"/>
    <Action name="search_similar_album"/>
  </Menu>
  <Menu name="advanced"><text>Advanced...</text>
    <Action name="check_consistency"/>
    <Action name="delete_selected"/>
    <Action name="move_selected"/>
    <Action name="burn_selected"/>
  </Menu>
</Menu>

</kpartgui>
