Source: yammi
Section: unknown
Priority: optional
Maintainer: Bernhard Übelacker <bernhardu@mailbox.org>
Build-Depends: debhelper (>= 10),
               libasound2-dev,
               libtag1-dev,
               libvlc-dev,
               libxine2-dev,
               qtbase5-dev,
               qtmultimedia5-dev,
               qttools5-dev-tools
Standards-Version: 3.9.8
Homepage: http://yammi.sourceforge.net/
#Vcs-Git: https://anonscm.debian.org/collab-maint/yammi.git
Vcs-Browser: https://sourceforge.net/p/yammi/git/ci/master/tree/

Package: yammi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Yammi - Yet Another Music Manager I...
 Yammi is a digital music manager targeted at listening to and managing
 large song collections on your computer (eg. a few thousand songs).
 .
 Yammi's mission is to make music management on your computer as easy and
 efficient as it should be, and Yammi's strength is its easy way of
 finding songs via fuzzy search and/or navigation through the
 automatically created folders.
