[Desktop Entry]
Type=Application
Version=1.2-rc
Encoding=UTF-8
Name=Yammi
GenericName=Yet Another Music Manager I...
Exec=yammi -caption "%c" %i %m %u
Comment=Yet Another Music Manager I...
Icon=yammi.png
DocPath=yammi/index.html
MimeTypes=
Terminal=false
Categories=Qt;KDE;AudioVideo;AudioVideo;Player
